<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="شركة كودجيما للاستثمار والتطوير العقاري هي شركة متخصصة في تطوير المشاريع العقارية المبتكرة التي تعيد تعريف معايير الجودة في القطاع. منذ تأسيسها، وضعت كودجيما نصب أعينها تحقيق التميز والريادة في السوق العقارية، من خلال تقديم مشروعات تمزج بين التصميم العصري، والاستدامة البيئية، والتكنولوجيا الحديثة.
    كودجيما تعمل برؤية واضحة تهدف إلى إنشاء مجتمعات متكاملة تلبي احتياجات الحياة العصرية وتتيح بيئة مثالية للأفراد والعائلات والأعمال. تركز الشركة على تطوير مشاريع سكنية وتجارية وصناعية تلبي تطلعات مختلف العملاء، مع الحرص على تقديم تجارب معيشية متكاملة تجمع بين الراحة والرفاهية والاستدامة.
    تتبنى كودجيما نهجًا متميزًا يقوم على الابتكار والجودة في كل مراحل تطوير مشاريعها، من التخطيط والتصميم إلى التنفيذ والتسليم. تلتزم الشركة بأعلى المعايير في كل ما تقدمه، مما يعكس رؤيتها نحو بناء مستقبل مشرق ومتطور لقطاع العقارات.
    تستمد كودجيما قوتها من فريق عملها المكون من نخبة من المتخصصين في مجالات الهندسة والتصميم والتطوير العقاري، الذين يعملون بتناغم لتحقيق رؤية الشركة الطموحة وتلبية توقعات عملائها. وتعد الشركة شركاءها جزءًا من هذه الرحلة نحو التميز، مؤمنة بأن النجاح الحقيقي يأتي من التعاون المثمر والعلاقات القوية مع جميع أصحاب المصلحة.
    من خلال تبنيها لمبادئ الشفافية والابتكار والجودة، تسعى كودجيما لتحقيق قيمة مضافة في كل مشروع، متجاوزة توقعات العملاء والمساهمين على حد سواء، وترك بصمة إيجابية ومستدامة في كل مجتمع تعم فيه."
    />
    <title>شركة كودجيما</title>
    <link rel="stylesheet" href="/css/master.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="" />
    <link rel="icon" sizes="128x128" href="/image/enhancedicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/themes/odometer-theme-default.css"
      integrity="sha512-kMPqFnKueEwgQFzXLEEl671aHhQqrZLS5IP3HzqdfozaST/EgU+/wkM07JCmXFAt9GO810I//8DBonsJUzGQsQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/odometer.min.js"
      integrity="sha512-v3fZyWIk7kh9yGNQZf1SnSjIxjAKsYbg6UQ+B+QxAZqJQLrN3jMjrdNwcxV6tis6S0s1xyVDZrDz9UoRLfRpWw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <!-- شريط التنقل -->
    <%- include('./components/header.ejs') %>

    <!-- القسم الرئيسي -->
    <section id="home">
      <img src="/image/enhanced.jpg" alt="Logo" class="logo" />
    </section>

    <!-- قسم عن الشركة -->

    <section id="counters">
      <div class="counter">
        <h3>عدد العملاء</h3>
        <p id="clients-counter">0</p>
      </div>
      <div class="counter">
        <h3>عدد العمارات</h3>
        <p id="buildings-counter">0</p>
      </div>
      <div class="counter">
        <h3>عدد الوحدات السكنية</h3>
        <p id="units-counter">0</p>
      </div>
    </section>

    <section class="services" id="about">
      <h1 class="section-title">عن الشركة</h1>
      <div class="service">
        <div class="service-text">
          <h2>نبذة عن الشركة</h2>
          <p>
            شركة كودجيما للاستثمار والتطوير العقاري الشركة الرائدة في الاستثمار
            والتسويق والتطوير العقاري في مدينة بدر محافظة القاهرة
          </p>
          <p>
            نشأت الشركة في عام ٢٠١٠ وبدأت برأس مال ٢٠ مليون جنيه وأصبحت الشركة
            في تطور ملحوظ. بمرور الوقت حتى أصبحت علامة مميزة في مدينة بدر
          </p>
          <p>
            تمتلك الشركة اكثر من 60 قطعه ارض و 130 قطعه معمارية و 650 من الوحدات
            السكنيه
          </p>
          <p>المقر الأول للشركة / عمارة ٢ الحي الأول أمام بنك مصر</p>
          <p>المقر الثاني للشركة / أمام الجامعة الروسية مباشرة</p>
        </div>
        <img src="/image/location1.jpg" alt="Signing a contract" />
      </div>
      <div class="service reverse">
        <div class="service-text">
          <h2>أعضاء مجلس إدارة الشركة</h2>
          <p>م / أسامة فايق عبدربه</p>
          <p>م / أيمن فايق عبدربه</p>
          <p>م / أحمد فايق عبدربه</p>
          <p>م / اسلام نادى حبيش</p>
          <p>م / محمد مسلم الايدي</p>
          <p>م / حسين عبدالعاطي السيد</p>
        </div>
        <img src="/image/location2.jpg" alt="House" />
      </div>
    </section>

    <!-- قسم مشاريعنا -->
    <section id="projects">
      <h2>عقارات شركة كودجيما</h2>
      <div class="projects-grid">
        <% builds.forEach(build => { %>
        <div class="project-card">
          <a href="/builds?build=<%= build.id %>">
            <img src="<%= build.imageUrl %>" alt="<%= build.name %>" />
            <h3><%= build.name %></h3>
          </a>
        </div>
        <% }); %>
      </div>
    </section>
    <%- include('./components/footer.ejs') %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const createOdometer = (el, value) => {
          const odometer = new Odometer({
            el: el,
            value: 0,
          });

          let hasRun = false;

          const options = {
            threshold: [0, 0.9],
          };

          const callback = (entries, observer) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                if (!hasRun) {
                  odometer.update(value);
                  hasRun = true;
                }
              }
            });
          };

          const observer = new IntersectionObserver(callback, options);
          observer.observe(el);
        };

        const clients = document.getElementById("clients-counter");
        createOdometer(clients, 8500);

        const buildings = document.getElementById("buildings-counter");
        createOdometer(buildings, 130);

        const units = document.getElementById("units-counter");
        createOdometer(units, 650);
      });
    </script>
  </body>
</html>
